<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.paradisegarage.spotify-tap</string>
    <key>CFBundleName</key>
    <string>Paradise Garage Spotify Tap</string>
    <key>CFBundleExecutable</key>
    <string>spotify-tap</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSAudioCaptureUsageDescription</key>
    <string>Paradise Garage records the Spotify app's audio stream to build your DJ library.</string>
</dict>
</plist>
